<div class="banner">
  <h1></h1>
<div class="search"></div>
</div>

<div class="container">
  <div class="card-container">
    <div class="card">
      <div class="card-image">
        <div class="avatar-logo">
        </div>
    </div>
      <div class="card-content">
        <h2>Pet Name</h2>
        <h3>Location</h3>
        <p>Small description</p>
        <button>Click Me</button>
      </div>
    </div>
  </div>

    <div class="info-card">
    <h2>Text here</h2>
    <p>Small description here</p>
    </div>

  <div class="card-container">
    <div class="card">
      <div class="card-image">
        <div class="avatar-logo">
        </div>
    </div>
      <div class="card-content">
        <h2>Pet Name</h2>
        <h3>Location</h3>
        <p>Small description</p>
        <button>Click Me</button>
      </div>
    </div>
  </div>

</div>

<footer>
</footer>
