<h1>This is the New page for shelter</h1>
<%# Create a form to be shown here %>
<%= render "form" %>
<%# What info is the form going to have?? %>
<%# name, capacity, info about shelter %>

<%# Deal with cloudinary later %>
<%# image/banner upload %>
<%# logo upload %>

<%# Doesn't redirect you anywhere %>
