<h1>Add Your Shelter</h1>
<%# Create a form to be shown here %>
<%= render "form" %>
<%# What info is the form going to have?? %>
<%# name, capacity, info about shelter %>

<%# Deal with cloudinary later %>
<%# image/banner upload %>
<%# logo upload %>
