<div class="container">
    <div class="row">
        <div class="info col-md-8">
            <div class="row">
                <h2>Description </h2>
                <p><%= @shelter.description %><p>
            </div>
            <div class="row">
                <div class="card col-2">
                    <img class = "card-img" src="https://web.pdx.edu/~strae/a341/multi-column-website/img/cute-dog-shiba-inu-ryuji-japan-44.jpg" alt="shiba dog">
                <div class="card-content">
                <div class="card-text">
                    <h2>Pet Name</h2>
                    <h3>Location</h3>
                    <p>Small description</p>
                </div>
                <button class="button-blue">Click Me</button>
                </div>
                </div>


               <div class="card col-2">
                    <img class = "card-img" src="https://web.pdx.edu/~strae/a341/multi-column-website/img/cute-dog-shiba-inu-ryuji-japan-44.jpg" alt="shiba dog">
                <div class="card-content">
                <div class="card-text">
                    <h2>Pet Name</h2>
                    <h3>Location</h3>
                    <p>Small description</p>
                </div>
                <button class="button-blue">Click Me</button>
                </div>
                </div>

                <div class="card col-2">
                    <img class = "card-img" src="https://web.pdx.edu/~strae/a341/multi-column-website/img/cute-dog-shiba-inu-ryuji-japan-44.jpg" alt="shiba dog">
                <div class="card-content">
                <div class="card-text">
                    <h2>Pet Name</h2>
                    <h3>Location</h3>
                    <p>Small description</p>
                </div>
                <button class="button-blue">Click Me</button>
                </div>
                </div>

                <div class="card col-2">
                    <img class = "card-img" src="https://web.pdx.edu/~strae/a341/multi-column-website/img/cute-dog-shiba-inu-ryuji-japan-44.jpg" alt="shiba dog">
                <div class="card-content">
                <div class="card-text">
                    <h2>Pet Name</h2>
                    <h3>Location</h3>
                    <p>Small description</p>
                </div>
                <button class="button-blue">Click Me</button>
                </div>
                </div>


               <div class="card col-2">
                    <img class = "card-img" src="https://web.pdx.edu/~strae/a341/multi-column-website/img/cute-dog-shiba-inu-ryuji-japan-44.jpg" alt="shiba dog">
                <div class="card-content">
                <div class="card-text">
                    <h2>Pet Name</h2>
                    <h3>Location</h3>
                    <p>Small description</p>
                </div>
                <button class="button-blue">Click Me</button>
                </div>
                </div>

                <div class="card col-2">
                    <img class = "card-img" src="https://web.pdx.edu/~strae/a341/multi-column-website/img/cute-dog-shiba-inu-ryuji-japan-44.jpg" alt="shiba dog">
                <div class="card-content">
                <div class="card-text">
                    <h2>Pet Name</h2>
                    <h3>Location</h3>
                    <p>Small description</p>
                </div>
                <button class="button-blue">Click Me</button>
                </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-white border sticky-top">
                <h2>Booking</h2>
                <a href=# class="btn btn-primary">Insert button</a>
            </div>
        </div>
    </div>
</div>
