.banner {
  padding: 60px;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(#FFE799, 0.30), rgba(#6CDAE7, 0.80));
  color: #FFE799;
  font-size: 30px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
