.banner {
  padding: 60px;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(#C6EDF2, 0.20), rgba(#6CDAE7, 0.60)), url("https://i.ytimg.com/vi/V6UzcWt2wGg/maxresdefault.jpg");
  color: #FFE799;
  background-size: fill;
  font-size: 30px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
