.booking-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-product {
  overflow: hidden;
  height: 180px;
  width: 900px;
  // background-image: linear-gradient(to bottom, rgba(#def2f5, 0.20), rgba(#C6EDF2, 0.60));
  box-shadow: 0 0 15px rgba(149, 149, 149, 0.2);
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  gap: 10px;
  border-radius: 25px;
}

.card-shelter {
  overflow: hidden;
  height: 65px;
  width: 900px;
  // background-image: linear-gradient(to bottom, rgba(#def2f5, 0.20), rgba(#C6EDF2, 0.60));
  box-shadow: 0 0 15px rgba(149, 149, 149, 0.2);
  display: flex;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 28px;
  gap: 10px;
  border-radius: 25px;
}

.hello-world {
  gap: 10px;
}

.card-product .card-img {
  height: 80%;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.list-group {
  position: sticky;
}
