.button-yellow {
  background-color: #FFD758;
  border: none;
  height: 40px;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 5px;
  text-decoration:none;
  color: white;
}

.button-yellow:hover {
  background-color: #D3AC2D;
}

.button-blue {
  background-color: #6CDAE7;
  border: none;
  height: 40px;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 5px;
  text-decoration:none;
  color: white;
}

.button-blue:hover {
  background-color: #54A5AF;
}

.button-blue-lg {
  background-color: #6CDAE7;
  border: none;
  width: 100%;
  height: 30px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
  text-decoration:none;
  color: white;
}
