.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  gap: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-items: center;
}

.grid-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.grid-shelters {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding: 10px;
margin-top: 30px;
margin-bottom: 30px;
justify-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 30px;
}

.card {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 18rem;
  height: 25rem;
  border-radius: 15px;
  display:flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all .5s ease;
}

.card:hover {
  transform: translate3D(0,-1px,0) scale(1.03);
  cursor: pointer;
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease;
}


.card-img {
  min-height: 280px;
  width: 100%;
  object-fit: cover;
}

.card-text h2{
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-text h3 {
  font-size: 16px;
  margin: 0;
}

.card-text p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-content {
  padding: 16px;
  right: 16px;
  top: -20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-card {
  background-image: linear-gradient(to top, rgba(#FFF1C3, 0.30), rgba(#6CDAE7, 0.80));
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
  padding: 20px;
}


@media (min-width: 576px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
