<h1>My Bookings</h1>
<div class="booking-card">
<div class="card-product">
<img src="https://cdn.vox-cdn.com/thumbor/v9ksZRhgha_kZsrjZkR0iCD8DB8=/0x0:4189x2608/1200x800/filters:focal(1766x853:2436x1523)/cdn.vox-cdn.com/uploads/chorus_image/image/72548864/GettyImages_1401741294.0.jpg" alt="">
  <div class="card-product-infos">
    <h2>Shelter Name</h2>
    <p>Date of Visit.</p>
    <p>Pending.</p>
  </div>
</div>
</div>
